*{
    box-sizing: border-box;
    
}
.block{
    height: 1400px;
    color: rgb(44, 40, 40);
    /* background:radial-gradient(#023b51, #ffffff); */
    background: url(decor.png) no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: 200px 200px;
    border: 5px  groove rgb(135, 207, 246);
    border-radius: 30px 0 0;
    border-bottom-color: rgb(22, 45, 255);
    box-shadow: -3px 10px 20px 3px rgb(141, 200, 237);
    
}
div h2{
    font-size: 33px;
}
div p{
    font-size: 18px;
}
div.block-descrip{
    display: inline-block;
    padding: 15px;
    margin: 15px;
    border: 1px double black;
    width: 250px;
    height: 250px;
    border-radius: 30px;
    background: honeydew;
    box-shadow: 0px 5px 20px 5px rgb(66, 117, 142);
    
}