:root {
  --general-text: #312c27;
  --title-text: #1f1711;
  --main-bg: #fff9f4;
  --accent-bg: #ffa55c;
  --accent-color: #ffe0cb;
  --transition: all 0.4s;
}
html{
   scroll-behavior:smooth;
   scroll-padding-top: 60px;
}

body {
  box-sizing: border-box;
  background: var(--main-bg);
  margin: 0 auto;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: var(--general-text);
}
.body--opened-menu {
  overflow: hidden;
}
.modal--opened-menu .modal {
  opacity: 1;
  visibility: visible;
  transition: var(--transition);
}
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.main {
  flex-grow: 1;
}
.section__about {
  padding: 140px 0;
}
.main__program,
.main__gallery,
.main__reviews {
  padding-bottom: 140px;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}

.button {
  background: var(--accent-bg);
  border-radius: 60px;
  font-weight: 500;
  padding: 3px 15px;
  line-height: 1.6;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}
.button:hover {
  background: #ff9138;
}

.title {
  color: var(--title-text);
  font-family: "Gabriola";
  font-size: 74px;
  font-weight: 400;
  line-height: 82%;
}

.field {
  position: relative;
  display: block;
}

.field__input {
  margin-bottom: 10px;
  width: 100%;
  padding: 19px 42px 19px 28px;
  border-radius: 100px;
  border: 1px solid #ac907a;
  background: transparent;
  font-size: 16px;
  transition: var(--transition);
  display: block;
}
.field__input:hover {
  border: 1px solid var(--accent-bg);
}
.field__input:hover::placeholder {
  color: var(--accent-bg);
}
.field__input::placeholder {
  color: #ac907a;
  transition: var(--transition);
}
.field span {
  position: absolute;
  top: 12px;
  left: 28px;
  font-size: 11px;
  color: #ac907a;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}
.field__input:focus {
  padding: 26px 42px 12px 28px;
}
.field__input:focus + span {
  visibility: visible;
  opacity: 1;
}

.modal__button {
  width: 100%;
} 

