.header {
  background: url("../img/bg-header.png") 50% 100% / cover no-repeat;
}
.header__top {
  padding-top: 19px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__logo {
  max-width: 174px;
  z-index: 11;
}
.header__logo img {
  width: 100%;
}
.nav__list {
  display: flex;
  gap: 4vh 40px;
}

.nav__link {
  display: block;
  padding: 5px 0;
  position: relative;
  transition: all 0.4s;
  z-index: 1;
}
.nav__link:hover {
  color: #b77b40;
}
.nav__link::before {
  content: "";
  position: absolute;
  top: -11px;
  left: -13px;
  z-index: -1;
  width: 34px;
  height: 34px;
  background: var(--accent-bg);
  border-radius: 50%;
  opacity: 0;
  transition: var(--transition);
}
.nav__link:hover::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -11px;
  left: -13px;
  width: 34px;
  height: 34px;
  background: var(--accent-bg);
  border-radius: 50%;
  opacity: 1;
}

.burger__icon {
  display: none;
  width: 50px;
  height: 50px;
  z-index: 11;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.burger__icon span,
.burger__icon span::before,
.burger__icon span::after {
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background: var(--general-text);
  display: block;
  transition: var(--transition);
}
.burger__icon span {
  position: relative;
}

.burger__icon span::before,
.burger__icon span::after {
  content: "";
  position: absolute;
}
.burger__icon span::before {
  top: -8px;
}
.burger__icon span::after {
  bottom: -8px;
}
.body--opened-menu .burger__icon span {
  background: transparent;
}
.body--opened-menu .burger__icon span::before {
  top: 0px;
  transform: rotate(45deg);
}
.body--opened-menu .burger__icon span::after {
  bottom: 0px;
  transform: rotate(-45deg);
}

/* ========================================== */

.hero-section {
  padding: 48px 0 140px;
}

.hero__inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.hero__content {
  max-width: 520px;
}

.hero__info {
  color: #b197b2;
  margin-bottom: 20px;
  line-height: 1.6;
  text-transform: uppercase;
  display: flex;
}
.hero__info span {
  display: flex;
  align-items: center;
}
.hero__info span::after {
  background: #b197b2;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: block;
  margin: 0 10px;
}
.hero__info span:last-child:after {
  content: none;
}
.hero__title {
  margin-bottom: 30px;
}
.hero__descrip {
  color: var(--general-text);
  margin-bottom: 40px;
  max-width: 358px;
  line-height: 1.5;
}
.hero__button {
  max-width: 358px;
  width: 100%;
}

.hero__img {
  position: relative;
  margin-right: 247px;
}
.hero__img > img {
  width: 100%;
}
.hero__img-control {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 9%;
  right: -43%;
  max-width: 200px;
  gap: 10px;
  line-height: 1.5;
  text-align: left;
}
.hero__img-control--mobile {
  display: none;
}
.hero__img-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: #ffe0cb;
  box-shadow: 0px 4px 20px rgba(183, 148, 126, 0.3);
  position: relative;
}
.hero__img-button img {
  position: relative;
  left: 3%;
}
.hero__img-button::before {
  content: "";
  position: absolute;
  border: 1px solid var(--accent-bg);
  inset: 5px;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.4s;
}
.hero__img-button:hover:before {
  opacity: 1;
}